<!-- test使用 -->
<app-test-component></app-test-component>

<ly-grid container [spacing]="8">
    <ly-grid item [col]="12">
        <header>
            <app-header (isOpenSideBar)='onToggleOpenSideBar($event)'></app-header>
          </header>
    </ly-grid>
    <ly-grid item [col]="3">
        <aside>
            <app-aside-bar></app-aside-bar>
          </aside>
    </ly-grid>
    <ly-grid item [col]="9">
        <main>
            <router-outlet></router-outlet>
        </main>
    </ly-grid>
  </ly-grid>

